.tt_time{
    font-size:20px;
    font-weight: bold;
}
.tt_city {
    font-size:26px;
    font-weight: bold;
}
.tt_station {
    background-color: darkblue;
    color:white;
    font-weight: bold;
    font-size:16px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}